# Use postgres/example user/password credentials
version: '3.1'

services:
  db:
    image: postgres
    ports:
      - 5432:5432
    restart: always
    environment:
      POSTGRES_PASSWORD: admin
  vdmapi:
    image: vdmapi:0.1-SNAPSHOT
    ports:
      - 9000:9000
    restart: always
